/* 游戏主容器 */
#game {
    width: 600px;
    height: 600px;
    margin: 50px auto;
    background-color: #eee;
    position: relative;
    overflow: hidden; /* 防止子弹滚动条 */
  }
  
  /* 叠层界面 */
  #gameStart, #selectMode, #enterName, #enterName2, #gameEnter {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
  }
  
  #gameStart { background:#ccc; }
  #selectMode { background:#aaa; }
  #enterName, #enterName2 { background:#bbb; }
  
  /* 我方飞机1（红色） */
  #myPlane {
    width: 50px;
    height: 60px;
    background: red;  /* 代替图片 */
    position: absolute;
    left:275px;
    top:520px;
  }
  
  /* 我方飞机2（蓝色），双人模式下可见 */
  #myPlane2 {
    width: 50px;
    height: 60px;
    background: blue; /* 代替图片 */
    position: absolute;
    left:275px;
    top:400px;
    display:none; /* 双人模式才显示 */
  }
  
  /* 子弹容器 */
  #bullets {
    position:absolute;
    top:0;
    left:0;
    color:#100e0e;
    width:100%;
    height:100%;
  }
  
 /* 黑色实心小圆子弹 */
.bullet {
  width: 10px; /* 子弹大小 */
  height: 10px;
  background-color: black; /* 设为黑色 */
  border-radius: 50%; /* 让子弹变成圆形 */
  position: absolute;
}
  
  /* 暂停提示 */
  #pauseTip {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    background:rgba(0,0,0,0.6);
    color:#fff;
    padding:20px;
    text-align:center;
    border-radius:8px;
    display:none;
  }
  
  /* 玩家信息 */
  #playerInfo {
    position:absolute;
    top:5px;
    left:5px;
    color:blue;
    font-size:14px;
  }