
#game {
    width: 600px;
    height: 600px;
    margin: 50px auto;
    background-color: #eee;
    position: relative;
    overflow: hidden; 
  }
  
  
  #gameStart, #selectMode, #enterName, #enterName2, #gameEnter {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
  }
  
  #gameStart { background:#ccc; }
  #selectMode { background:#aaa; }
  #enterName, #enterName2 { background:#bbb; }
  

  #myPlane {
    width: 50px;
    height: 60px;
    background: red; 
    position: absolute;
    left:275px;
    top:520px;
  }
  

  #myPlane2 {
    width: 50px;
    height: 60px;
    background: blue; 
    position: absolute;
    left:275px;
    top:400px;
    display:none; 
  }
  

  #bullets {
    position:absolute;
    top:0;
    left:0;
    color:#100e0e;
    width:100%;
    height:100%;
  }
  

.bullet {
  width: 10px;
  height: 10px;
  background-color: black; 
  border-radius: 50%; 
  position: absolute;
}
  

  #pauseTip {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    background:rgba(0,0,0,0.6);
    color:#fff;
    padding:20px;
    text-align:center;
    border-radius:8px;
    display:none;
  }
  

  #playerInfo {
    position:absolute;
    top:5px;
    left:5px;
    color:blue;
    font-size:14px;
  }